@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.divstar{
    margin-right: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.star {
    color:  rgb(227, 213, 26);
}
.model{
    margin-right: 1rem;
    color: rgb(0, 0, 0);
    font-family: 'Futura';
}
