@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.star{
    color:yellow;
}

.divstar{

 
    
    position: absolute;
    bottom:400px;
    left: 400px;
}
.model{
    margin-right: 50px;
    color: aliceblue;
    font-family: 'Merienda One', cursive;
}
